*{
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background-color: #AEE2D0;
}

table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    

}

th{
    width:200px;
    text-align: center;
    height: 10px; 
    font-family: Cambria;
    font-size: x-large;
      
}

td{
    width:200px;
    text-align: center;
    height: 30px;
    font-family: Cambria;
    font-size: larger;
}

body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
